@font-face {
    font-family: 'exoblack';
    src: font_url('exo-black-webfont.woff2') format('woff2'),
         font_url('exo-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}